#container_post_txt{
  display: flex;
  justify-content: center;
}

#post_txt{
  margin-top: 1vh;
  width: 40vw;
  height: 12vh;
  background-color: var(--backgroud_color);
  color: white;
  border-top: 0;
  border-left: 0;
  border-color: var(--pink_color);
  margin-bottom: 1vh;
}

#submit{
  padding: 15px;
  border-style: none;
  border-radius: 35px;
  background-color: var(--backgroud_color);
  color: white;
  cursor: pointer;
}

#annuler{
  padding: 15px;
  border-style: none;
  border-radius: 15px;
  color: white;
  background-color: var(--backgroud_color);
  cursor: pointer;
}

#tag_selector{
  background-color: var(--backgroud_color);
  color: white;
  border-left: 2px;
  border-top: 2px;
  border-color: var(--pink_color) ;
  width: 20vw;
  height: 3vh;
}

