@import url(css/bootstrap.css);
@import url(css/left.css);
@import url(css/right.css);
@import url(css/post.css);
@import url(css/profil_page.css);
@import url(css/mid.css);
@import url(css/make_post.css);
@import url(css/connect_toi.css);
@import url(css/connexion.css);
@import url(css/modal_suppr.css);
@import url(css/pseudo.css);
@import url(css/mobile.css);
@import url(css/horizontal_bar_animation.css);

*,*::before,*::after{
  box-sizing: border-box;
  font: small-caps bold 24px/1 sans-serif;
  font-weight: bold;
}

:root{
  --side_size : 19.8vw;
  --border_size : 0.2vw;
  --settings_button_width : 15vw;
  --settings_button_height : 12vh;
  --backgroud_color : #131313;
  --pink_color : #E09ECE;
}

body{
  padding: 0;
  margin: 0;
  color: white;
  background-color: var(--backgroud_color);
}

.hidden{
  visibility:collapse;
  height: 0;
  width: 0;
}

@media screen and (max-width: 768px){

  body{
    display: flex;
  }

  #left{
    position: fixed;
    display: flex;
    top: 0;
    transform: translateX(-100%);
    width: 80vw;
    z-index: 1;
    justify-content: space-around;
    flex-direction: column;
    transition: 1s;
  }

  #right{
    position: fixed;
    display: flex;
    top: 0;
    transform: translateX(110%);
    width: 80vw;
    z-index: 1;
    justify-content: space-around;
    flex-direction: column;
    transition: 1s;
  }

  #right >*{
    width: 58vw;
  }

  #info_user{
    width: 90%;
    height: 10vh;
  }

  #icon_pp{
    width: 20%;
  }

  a{
    width: 90%;
  }

  .left_button{
    width: 90%;
  }

  #mid{
    position:relative;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #131313;
  }

  .poubelle{
    width: 50px;
    height: 50px;
  }

  #post_maker{
    display: flex;
    left: 15vw;
    height: 70vh;
    width: 70vw;
  }

  #post_txt{
    height: 35vh;
  }

  .post_actions_container{
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #tag_selector{
    width: 50vw;
  }

  #mobile_menu{
    position: fixed;
    visibility: visible;
    top: 20px;
    left: 20px;
    width: 50px;
    background-color: white;
    border-radius: 15px;
  }

  #leave_mobile_menu{
    position: fixed;
    visibility:hidden;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
  }

  .post{
    width: 90vw;
    margin: 0 5vw 0 5vw;
  }

  .post_info{
    width: 90vw ;
  }

  #container_profil{
    width: 80vw;
  }

  #container_header_profil{
    display: flex;
    align-items: center;
  }

  .profile_picture{
    width: 50px;
    height: 50px;
  }

  #connection_page{
    width: 90vw;
    margin: 20vh 5vw 0 5vw;
  }

  .form_style{
    width: 90vw;
    margin: 10vh 5vw 0 5vw;
  }

  .button_subscribe_page{
    width: 35vw;
  }

}

